*{
	padding: 0;
	margin: 0;
}

.header_wrapper{
	display: flex;
	justify-content: center;
}

.left_button{
	-webkit-clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 27% 100%, 0 63%, 0 36%);
	clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 27% 100%, 0 63%, 0 36%);
	background-color: #222;
	width: 250px;
	height: 70px;
	text-align: center;
	margin-right: -1px;
}

.logo{
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 70%, 80% 100%, 20% 100%, 0% 70%, 0 0);
	clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 70%, 80% 100%, 20% 100%, 0% 70%, 0 0);
	background-color: #224;
	width: 350px;
	height: 100px;
	z-index: 3;
}

.right_button{
	-webkit-clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 64%, 73% 100%, 0 100%, 0 63%, 0 36%);
	clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 64%, 73% 100%, 0 100%, 0 63%, 0 36%);
	background-color: #222;
	width: 250px;
	height: 70px;
}

header a{
	color: #fff;
	font-size: 45px;
	text-decoration: none;
}

.left_button_link{
	margin-top: 5px;
}

.main_wrapper{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.slider{
	width: 800px;
	height: 400px;
	margin-top: -40px;
}

.sl_img{
	height: 400px;
	width: 800px;
}

.main_content{
	height: 700px;
	width: 70%;
	background-color: #1b6321;
	-webkit-box-shadow: inset 0px -24px 31px -4px rgba(0,0,0,0.63);
	-moz-box-shadow: inset 0px -24px 31px -4px rgba(0,0,0,0.63);
	box-shadow: inset 0px -24px 31px -4px rgba(0,0,0,0.63);
}

.background_1{
	display: flex;
	justify-content: center;
}

.slider_img_1{
	position: relative;
}

.play_text{
	position: absolute;
}

.play_text p{
	z-index: 3;
	font-size: 35px;
	color: #fff;
}

.sl__text{
	position: absolute;
	color: #fff;
	bottom: 70%;
	margin-left: 20px;
}

.sl__text p{
	font-size: 25px;
	color: orange;
}

.sl__text h3{
	font-size: 30px;
	color: #dbbb08;
}


.footer_wrapper{
	background-color: #222;
	height: 100px;
	width: 100%;
}

.background_2{
	background-image: url(volshebnoe_derevo_secretworlds.ru.jpg);
}

.play_button{
	font-size: 70px;
}

.play_wrapper{
	display: flex;
	justify-content: center;
}

.play_wrapper a{
	margin-top: 5px;
}

.play_button:hover{
	text-shadow: 2px 2px 50px #1C6EA4;
}

.help_button_text:hover{
	text-shadow: 2px 2px 50px #aaa;
}

.right_button_link{
	margin-top: 5px;
	display: flex;
	justify-content: center;
}

.feedback{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.feedback_table{
	font-size: 25px;
	color: #fff;
}

.vk{
	text-decoration: none;
	font-size: 20px;
	color: orange;
}

.e-mail{
	color: #f4791a;
	font-size: 20px;
}