

@media only screen and (max-width: 1000px){
	#All{
		margin-top: 25px;
	}

	#BG{
		margin-top: 0px;
	}

	.mobile_object{
		position: relative;
		display: block;
	}

	#left_but{
		left: 20px;
		top: 20px;
		background: url(/img/left.gif);
		height: 100px;
		width: 100px;
	}
}
