

@media only screen and (max-width: 1200px){
    	#HP_bar{
		position: relative;
    		top: 200px;
    	}
	#Stamina_bar{
		position: relative;
		top: 200px;
	}
	
	#All{
		margin-top: 25px;
	}

	#BG{
		margin-top: 0px;
	}

	.mobile_object{
		position: relative;
		display: block;
	}

	#left_but{
		left: 20px;
		top: 20px;
		background: url(/img/left.gif);
		height: 100px;
		width: 100px;
	}

	#shield_but{
		left: 135px;
		top: -80px;
		background: url(/img/shield_mobile.gif);
		height: 100px;
		width: 100px;
	}

	#right_but{
		left: 250px;
		top: -180px;
		background: url(/img/right.gif);
		height: 100px;
		width: 100px;
	}

	#hit_but{
		left: 765px;
		top: -280px;
		background: url(/img/sword.gif);
		height: 100px;
		width: 100px;
	}

	#charge_but{
		left: 880px;
		top: -380px;
		background: url(/img/charge_mobile.gif);
		height: 100px;
		width: 100px;
	}
}
