
	#BG{
		overflow: hidden;
		background: url(/home/stas/Downloads/Programing/BUHF/textures/BG/environment_forestbackground.gif);
		height: 600px; 
		width: 1000px;
		margin-top: 10px;
	}


	#main_character{
        background-image: url(/home/stas/Downloads/Programing/BUHF/textures/characters_spright/Stay_&_walk_&_charge.gif);
        height: 150px;
        width: 150px;
        margin-top: 350px;
        background-position-x: -50px; 
    }

    #Stamina_bar{
    	width: 200px;
    	height: 15px;
    	margin-right: 750px; 
    }

    #HP_bar{
    	margin-top: 20px;
    	width: 200px;
    	height: 15px;
    	margin-right: 750px;
    }

	#All{
		margin-top: 100px;
	}
