
	#BG{
		overflow: hidden;
		background: url(/img/environment_forestbackground.gif);
		height: 600px; 
		width: 1200px;
		margin-top: 10px;
	}

	#All{
		margin-top: 100px;
	}

	#Game{
		height: 300px;
	}

	#Game .objects{
		position: relative;
		margin-top: 200px;
	}
/*////////////////////////////////////////////////////////////////*/

	#main_character{
        background-image: url(/img/Stay_&_walk_&_charge.gif);
        height: 150px;
        width: 150px;
        top: 145px;
        z-index: 1;
        background-position-x: -1250px; 
        background-position-y: -150px;
    }

    #Stamina_bar{
    	width: 200px;
    	height: 15px;
    	margin-right: 750px; 
    }

    #HP_bar{
    	margin-top: 20px;
    	width: 200px;
    	height: 15px;
    	margin-right: 750px;
    }

/*////////////////////////////////////////////////////////////////*/

	#enemy{
    	background-image: url(/img/Moob_sprite_V1.gif);
    	display: flex;
    	height: 150px;
    	width: 150px;
    	top: -200px;
    	left: 400px;
    	background-position-x: -1250px;
    	background-position-y: -150px;
	}

	#Health_of_enemy{
		top: -190px;
    	height: 10px;
    	width: 100px;
	}

	#spear{
		height: 15px;
		width: 100px;
		bottom: 480px;
	}

