
	#BG{
		overflow: hidden;
		background: url(/img/environment_forestbackground.gif);
		height: 600px; 
		width: 1000px;
		margin-top: 10px;
	}


	#main_character{
        background-image: url(/img/Stay_&_walk_&_charge.gif);
        height: 150px;
        width: 150px;
        margin-top: 350px;
        background-position-x: -50px; 
    }

    #Stamina_bar{
    	width: 200px;
    	height: 15px;
    	margin-right: 750px; 
    }

    #HP_bar{
    	margin-top: 20px;
    	width: 200px;
    	height: 15px;
    	margin-right: 750px;
    }

	#All{
		margin-top: 100px;
	}

#enemy{
    background-image: url(../img/enemy_sprites.png);
    display: flex;
    height: 130px;
    width: 120px;
    margin-top: -130px;
    margin-left: 800px;
    background-position-x: 1230px;
    background-position-y: 0px;
}

#Health_of_enemy{
    height: 10px;
    width: 80px;
    margin-top: -10px;
}
